@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- SETUP FONT LOKAL --- */
/* Ganti nama file 'CircularStd-XXX.otf' sesuai nama file aslimu */

@font-face {
  font-family: 'Circular Spotify';
  src: url('./assets/fonts/Circular Std Font.ttf') format('opentype'); /* Atau .ttf / truetype */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Spotify';
  src: url('./assets/fonts/Circular Std Font.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Spotify';
  src: url('./assets/fonts/Circular Std Font.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Terapkan ke Body */
body {
  background-color: #000000;
  color: white;
  overflow: hidden;
  font-family: 'Circular Spotify', 'DM Sans', sans-serif; /* Fallback ke DM Sans kalau gagal */
}

/* --- SCROLLBAR --- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}